<!DOCTYPE HTML>
<html lang="en-us">
   <head>
      <meta charset="utf-8">
      <title>Calculation Results</title>
      <link rel="stylesheet" type="text/css" href="project09.css.">
   </head>
  
   <body>
      <h1>Postage Calculaton Results</h1>                                        
      <div>
         <table>
            <tr>
               <td>
                  Weight:
               </td>
               <td>
                  <%= weight %>
               </td>
            <tr>
               <td>
                  Item Type:
               </td>
               <td>
                  <%- type %>
               </td>
            </tr>
            <tr>
               <td>
                  Rate:
               </td>
               <td>
                  <%= rate %>
               </td>
            </tr>
         </table>
      </div>
   </body>
</html>